<ion-content>

  <ion-slides pager #onboardSlider color="primary">
    <ion-slide class="begin">
      <div>
        <h1>
          Find the perfect <br />workout for you!<br />
        </h1>
        <h2>
          <p>
            This 2-minute assessment will<br />
            help us create the best<br />
            work out for you.<br />
          </p>
        </h2>

      </div>
    </ion-slide>
    <ion-slide class="choose-gender" color="primary">
      <div>
        <div class="banner-header">

          <h1>
          Find the perfect <br />workout for you!<br />
          </h1>

          <h2>
          <p>
            What is your gender?
          </p>
        </h2>
        </div>
        <div class="onboard-body">

          <div class="error">
            <div *ngIf="genderError">
              Please select an option.
            </div>
          </div>

          <button ion-button outline *ngFor="let g of genderList; let index = index" (click)="toggleGenderButton(index)" [ngClass]="{'toggled':this.toggledGender == index}">

          {{genderList[index]}}
        </button>


        </div>
      </div>
    </ion-slide>
    <ion-slide class="choose-age" color="red">
      <div>
        <div class="banner-header">
          <h1>
          Find the perfect <br />workout for you!<br />
          </h1>
          <h2>
          <p>
            What is your age?
          </p>
        </h2>
        </div>
        <div class="onboard-body">
          <div class="error">
            <div *ngIf="ageError">
              Please select an option.
            </div>
          </div>
          <button ion-button outline *ngFor="let a of ageGroupsList; let index = index" (click)="toggleAgeButton(index)" [ngClass]="{'toggled':this.toggledAge == index}">

          {{ageGroupsList[index]}}
        </button>
        </div>
      </div>
    </ion-slide>
    <ion-slide class="choose-level" color="primary">
      <div>
        <div class="banner-header">

          <h1>
          Find the perfect <br />workout for you!<br />
          </h1>
          <h2>
          <p>
            How would you describe your fitness level?
          </p>
        </h2>
        </div>
        <div class="onboard-body">
          <div class="error">
            <div *ngIf="levelError">
              Please select an option.
            </div>
          </div>
          <button ion-button outline *ngFor="let f of fitLevelsList; let index = index" (click)="toggleLevelButton(index)" [ngClass]="{'toggled':this.toggledFitLvl == index}">


          {{fitLevelsList[index]}}
        </button>

        </div>
      </div>
    </ion-slide>
    <ion-slide class="choose-exercises" color="primary">
      <div>
        <div class="banner-header">

          <h1>
          Find the perfect <br />workout for you!<br />
          </h1>
          <h2>
          <p>
            What types of exercises would<br />
             you like to do at home?
          </p>
        </h2>
        </div>
        <div class="onboard-grid">
          <button
          *ngFor="let g of exercisesList; let index = index"
          (click)="toggleExerciseButton(index)" [ngClass]="{'toggled':this.toggledExercises.indexOf(index) > -1}">
          {{this.exercisesList[index]}}
          </button>



        </div>
      </div>
    </ion-slide>
    <ion-slide class="choose-goals" color="primary">
      <div>
        <div class="banner-header">

          <h1>
          Find the perfect <br />workout for you!<br />
          </h1>
          <h2>
          <p>
            What are your fitness goals?
          </p>
        </h2>
        </div>
        <div class="onboard-grid">
          <ion-list >
            <button ion-item
            *ngFor="let g of fitGoalsList; let index = index"
            (click)="toggleGoalButton(index)" [ngClass]="{'toggled':this.toggledGoals.indexOf(index) > -1}">


            <div class="goals-text" >
              {{fitGoalsList[index]}}
            </div>
          </button>

          </ion-list>
        </div>
      </div>
    </ion-slide>
    <ion-slide class="choose-cast-opt" color="primary">
      <div>
        <div class="banner-header">

          <h1>
          Find the perfect <br />workout for you!<br />
          </h1>
          <h2>
          <p>
            In the room you workout, <br />
            do you have a digital media player?
          </p>
        </h2>
        </div>
        <div class="onboard-body">
          <div class="error">
            <div *ngIf="castError">
              Please select an option.
            </div>
          </div>
          <button ion-button outline
          *ngFor="let g of castOptsList; let index = index"
          (click)="toggleCastButton(index)" [ngClass]="{'toggled':this.toggledCast == index}">

            {{castOptsList[index]}}
        </button>

        </div>
      </div>
    </ion-slide>
    <ion-slide >
      <form [formGroup]="onboardingForm" class="onboard-form">
        <ion-item
        [class.invalid]=
        "!onboardingForm.controls.full_name.valid && (onboardingForm.controls.full_name.dirty || submitAttempt)">
          <ion-input formControlName="full_name"
          placeholder="Full Name"
          type="text"
          ></ion-input>

        </ion-item>

        <ion-item class="email"
        [class.invalid]=
        "!onboardingForm.controls.email.valid && (onboardingForm.controls.email.dirty || submitAttempt)">
        >
          <ion-input
          formControlName="email"
          placeholder="Email"
          type="email"
          ></ion-input>
        </ion-item>

        <ion-item >
          <ion-input formControlName="username" placeholder="Username" type="text"></ion-input>
        </ion-item>

        <ion-item [class.invalid]="(!passwordsMatch() && (onboardingForm.controls.password.dirty && onboardingForm.controls.confirm_pword.dirty) || submitAttempt)">
          <ion-input formControlName="password" placeholder="Password" type="password"></ion-input>
        </ion-item>

        <ion-item id="last" [class.invalid]="(!passwordsMatch() && (onboardingForm.controls.password.dirty && onboardingForm.controls.confirm_pword.dirty) || submitAttempt)">
          <ion-input formControlName="confirm_pword" placeholder="Confirm Password" type="password"></ion-input>
        </ion-item>
        <div class="error-pwords">
          <div *ngIf="(!passwordsMatch() && (onboardingForm.controls.password.dirty && onboardingForm.controls.confirm_pword.dirty) || submitAttempt)">
            Passwords must match.
          </div>
        </div>
          <button ion-button (click)="onSubmit()" id="submit">SIGN UP</button>
          <button ion-button clear id="already"> I already have an account</button>

      </form>
    </ion-slide>

  </ion-slides>

</ion-content>
