
$h1_fontsize : 6vh;
$header_banner_h :28vh;
$lower_h: 100vh-$header_banner_h;
$form_padding_sides: 7vw;

page-on-boarding {

}
.swiper-pagination-bullet-active{
  background-color: color($colors, primary);
}
.banner-header {
  height: $header_banner_h;
  margin: auto;
  background-color: white;
  color:black;
  border-bottom-color: color($colors, lightgrey);
  border-bottom-style:solid;
  border-bottom-width: 0.2vh;
}
page-on-boarding ion-slide{
  background : white;
}

page-on-boarding h1{
  font-size: $h1_fontsize;
  font-weight: 600;
  padding: 1vh;
  display:block;
}
.begin p {
  margin:auto;
  text-align:center;
  margin-top: 2vh;
  font-size: $h1_fontsize*(4/10);
  font-weight:200;
  display:block;

}

.banner-header p {
  margin:auto;
  text-align:center;
  margin-top: 3vh;
  font-size: $h1_fontsize*(4/10);
  font-weight:200;
  display:block;
}
.begin img {
  width: 100%;
  height:auto;
}

.onboard-body{
  height: $lower_h;
  background-color: color($colors, whitegrey);


  padding-left:$form_padding_sides;
  padding-right:$form_padding_sides;
}
.onboard-grid{
  overflow:scroll;
  height: $lower_h;
  background-color: white;
  text-align:center;
  background-color: color($colors, whitegrey);
}

//general style, not size/spacing
.onboard-body button{
  display: block;
  width: 100%;
  background-color: color($colors, secondary);
  color: black;
  border-style :solid;
  border-color: color($colors, lightgrey);
  text-align: center;

}
.onboard-body .toggled{
  background-color:  color($colors, primary);
  border-color: color($colors, primary);
  color: white;
}
//choose gender slide
.choose-gender .onboard-body{
  padding-top: 0vh;
}

.choose-gender button{
  height: 8vh;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
//choose age slide
.choose-age button{
  height: 8vh;
  margin-top: 4vh;

// choose fitness level
}
.choose-level button{
  height: 10vh;
  margin-top: 6vh;

}
// choose exercises slide
$img_button_w :48vw;
.choose-exercises button {
  background-color: lightgrey;
  width: $img_button_w;
  height:$lower_h/5;
  margin-top: 1vh;
  display:inline;
  margin: 1vw;
    border-style:solid;
    border-color:white;
}
.choose-exercises .toggled {
  color: white;
  border-style:solid;
  border-color: color($colors, primary);
  border-width: 1vw*(2/4);
}

//choose-goals slide

.choose-goals button {
  padding:0;
  color:black;
}

.choose-goals .input-wrapper{
  font-color:white;
}
.choose-goals .goals-text{
  color:black;
  padding-left: 6vw;
  height: 6vh;
  display:table-cell;
  vertical-align: middle;
}
.choose-goals .toggled{
  background-color: color($colors, primary);
  color: white;
}
//choose cast slide
.choose-cast-opt button{
  margin-top: 5vh;
  height: 9vh;
}
//form slide
.onboard-form{
  background-color:white;
}
.onboard-form input{
  color:grey;
  text-align:center;
}
.onboard-form ion-item{
  padding-left: 4vw;
  padding-right: 4vw;
  height: 8vh;
  margin-top: 2vh;
  margin-bottom:2vh;
  font-size:(3vh)*(8/10);
}
.onboard-form .text-input {
  margin-bottom: 0vh;
}

.onboard-form #submit{
  width: 85%;
  margin-top: 10vh;
  height: 8vh;
}
.onboard-form #already{
  font-size:2vh;
  margin-top: 0;
}

.onboard-form .invalid {
//background: radial-gradient(ellipse at 50% 100%,#ffcccc, white, white);
background: linear-gradient(to right, #ffb3b3 -20%, white, white, white, #ffb3b3 120%);
}

page-on-boarding .invalid .item-inner{

}
page-on-boarding .error{
  color:red;
  font-size: 2vh;
  padding-top:2vh;
  height:3vh;

}
