ion-content.startBody {
  background-color: color($colors, midgrey);
  color: white;
}

.image {
  margin-top: 10vh;
}

img {
  margin: auto;
  width: 90%;
  height: auto;
}

.findWorkout {
  font-family: atcduel4;
}

.signUpButton {
  color: color($colors, dark);
  text-align: center;
  margin-top: 200px;
  font-size: 1.5em;
  padding: 25px 40px 25px 40px;
}


.signInButton {
  color: white;
  width: 150px;
  font-size: 1.5em;
}

div.content {
  text-align: center;
}

.findWorkout {
  font-size: 175%;
}

p {
  margin: auto;
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 120%;
  font-family: DinPro;
}

.bottom {
  margin: auto;
  margin-top: 5vh;
  margin-bottom: 6vh;
}
