page-start {
  ion-content.startBody {
    background-color: color($colors, midgrey);
    color: white;
  }

  img {
    margin: 18vh auto auto;
    width: 70%;
    height: auto;
  }

  .signUpButton {
    color: color($colors, dark);
    text-align: center;
    margin-top: 18vh;
    font-size: 1.3em;
    width: 50%;
  }

  .signInButton {
    color: white;
    width: 50%;
    font-size: 1.3em;
  }

  div.content {
    text-align: center;
  }

  .findWorkout {
    font-size: 160%;
    font-family: atcduel4;
    font-weight: 100;
  }

  p {
    margin: 40px auto 10px;
    font-size: 100%;
    font-family: DinPro;
  }

  .bottom {
    margin: 5vh auto 6vh;
    font-size: 100%;
    font-family: DinPro;
    font-weight: 100;
  }
}
