ion-content.loginBody {
  background-color: white;
  text-align: center;
}

img {
  margin-top: 12vh;
  margin-left: 50vh;
  margin-right: 50vh;
}

ion-item  {
  padding-left: 4vw;
  padding-right: 4vw;
  height: 10%;
  margin-top: 20vh;
  margin-bottom:2vh;
  font-size:(3vh)*(8/10);
  font-family: DinPro;
  font-weight: 100;
}


button {
  margin: auto;
  width: 85%;
  margin-top: 3vh;
  height: 6vh;
}
