side-scroller {
  position: relative;

  .slide-controls {
    width: 100%;
    position: relative;

    #left-arrow {
      position: absolute;
      top: 7vw;
      left: -12px;
      transform: translateY(-50%);
      font-size: 300%;
      color: white;
      z-index: 10;
      text-shadow: 0 0 6px grey;
    }

    #left-arrow:hover {
      color: color($colors, red);
    }

    #right-arrow {
      position: absolute;
      top: 7vw;
      right: -12px;
      transform: translateY(-50%);
      font-size: 300%;
      color: white;
      z-index: 10;
      text-shadow: 0 0 6px grey;
    }

    #right-arrow:hover {
      color: color($colors,red);
    }
  }

  ion-slides {
    position: absolute;
    background-color: white;
    height: auto;
    white-space: nowrap;
    position: relative;

    ion-slide {
      video-thumbnail {
        width: 100%;
        height: auto;
        display: inline-block;
        background-color: white;
        overflow-y: hidden;
      }
    }
  }
}
