<div class="vt-wrapper">
  <img src='../../assets/dummy.jpg' class="vt" />
  <img (click)='goToVidView()' src='../../assets/play_button.png' class="play" />

</div>
<div class="info">


  <div class="title">
    NEW VYBE: Street Vybe
  </div>
  <div class="subtitle">
    Sample text for subtitle goes here. retreive from class
  </div>
  <div class="misc">
    <ion-icon name="stopwatch"></ion-icon>
    <div class="text">
        43:34
    </div>
    <ion-icon name="stats"></ion-icon>
    <div class="text">
        3/5
    </div>
    <ion-icon name="flame"></ion-icon>
    <div class="text">
        320
    </div>
  </div>
</div>
