video-thumbnail {


  .pd-icon {
    width: 8%;
    height: auto;
  }

  .vt-wrapper {
    background-color: white;
    width: 100%;
    height: auto;
    position: relative;

    .vt {
      margin: 0;
      padding: 0;
      width: 100%;
      height: auto;
    }

    .play {
      width: 25%;
      display: block;
      margin: 0;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -12.5%;
      margin-top: -12.5%;
    }
  }

  .info {
    .title {
      font-family: DinPro;
      font-weight: 500;

    }

    .misc {
      ion-icon {
        display: inline;
        font-size: 100%;
        font-weight: 400;
      }

      .text {
        font-family: DinPro;
        font-weight: 100;
        display: inline;
        position: relative;
      }

      #last {
        border-right-style: none;
      }
    }
  }
}
