<div class="vt-wrapper">
  <img src='assets/dummy.jpg' class="vt" />
  <img (click)='goToVidView()' src='assets/play_button.png' class="play" />

</div>
<div class="info">


  <div class="title">
    {{this.metaData.trainer}} - {{this.metaData.title}}
  </div>
  <div class="subtitle">
    Sample text for subtitle goes here. retreive from class
  </div>
  <div class="misc">
    <img src='assets/icons/time.svg' class='pd-icon'/>
    <div class="text">
         {{this.metaData.duration}}
    </div>
    <img src='assets/icons/difficulty.svg' class='pd-icon'/>
    <div class="text">
        {{this.metaData.difficulty}}
    </div>
    <img src='assets/icons/fire.svg' class='pd-icon'/>
    <div class="text" id='last'>
        320
    </div>
  </div>
</div>
