video-thumbnail {


  .pd-icon {
    width: 8%;
    height: auto;
  }

  .vt-wrapper {
    background-color: white;
    width: 100%;
    height: auto;
    position: relative;

    .vt {
      margin: 0;
      padding: 0;
      width: 100%;
      height: auto;
      border-radius: 3px;
    }

    .play {
      width: 25%;
      display: block;
      margin: 0;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -12.5%;
      margin-top: -12.5%;
    }
  }

  .info {
    margin-top: .5vh;
    .title {
      font-family: DinPro;
      font-weight: 600;
      width: 100%;
      text-align: left;
      overflow: hidden;
      display:block;

    }

    .misc {
      text-align: left;
      display: block;
      vertical-align: middle;
      position: relative;
      margin-top: .5vh;

      ion-icon {
        display: inline;
        font-size: 1vw;


      }

      .text {
        margin-right: 1.2em;
        font-family: DinPro;
        font-weight: 300;
        font-size: .8em;
        display: inline;
        position: relative;
        color: #777777;
      }

      #last {
        border-right-style: none;
      }
    }
  }
}
