<ion-header>
      <ion-toolbar transparent>
          <div>
          <div class="navButtonHolder">
            <div class="navButtons"  (click)="onHome()"> Home </div>
            <div class="navButtons"> Contact </div>
          </div>
          <div class="logoHolder">
          <img class="pushLogo" src="assets/PUSHTEXT_Logo_Red.png" />
        </div>
       <div class="userNameHolder">
          <img class="profilePic" src="assets/profile_placeholder.png" />
          <div class="userName"> Natasha
            <ion-icon name="arrow-dropdown"></ion-icon>
          </div>
        </div>
      </div>
      </ion-toolbar>
</ion-header>
