
topbar{
  .button-inner {
    text-transform: none;
    color: white;
  }

  .header-ios .toolbar-background-ios,.toolbar-background-md,.toolbar-background-wp{
    border-style: none;
    background: none;
    border-color: rgba(0, 0, 0, 0);

  }

  .header-md::after{
    background-image: none;
  }

.toolBarHolder {
  position: relative;
  display: table;
  width: 100%;
  overflow-y: hidden;
}

.navButtonHolder {
  width: 25%;
  max-width: 30%;
  display: inline-block;
  color: white;
  .navButtons {
    margin-left: 3.5vh;
    display: inline-block;
  }
}

.logoHolder {
  display: inline-block;
  width: 50%;
  text-align: center;
    .pushLogo {
      width: 18.5%;
      height: auto;
      margin: auto;
  }
}


.searchHolder {
  display: inline-block;
  .searchBar {
  width: 14vw;
  height: auto;
}
.searchIcon {
  z-index: 2;
  position: absolute;
  bottom: 26%;
  right: 11%;
  color: gray;
}
}

.userNameHolder {
  display: inline;
  color: white;
  width: 20%;
  max-width: 20%;
  margin-left: 2vh;
    .profilePic {
      height: 4vh;
      width: auto;
      margin-bottom: -1.4vh;
    }
    .userName {
      display: inline;
      color: white;
      padding-left: 0;
      font-family: DinPro !important;
  }
  .dropdown {
      position: relative;
      top:.3vh;
  }
}


}
