$feature_w: 100vw*(9/16);

page-home {


  #body {

    .section{
      padding: 0 2% 0 2%;

      border-bottom-style: solid ;
      border-bottom-color: lightgrey;
      border-bottom-width: 1px;
    }
    #category-cards{
      ion-col{
        padding:1.2%;
      }
    }
    #popular{
      side-scroller{
        background-color: green;
      }
    }
  }

}
