/*
SCSS for the big slider at top
*/
.swiper-pagination-bullet-active {
  background: red !important;
}

headliner {
  width: 100vw;
  max-height: 42.85vw;

  .slides {
    width: 100vw;
    max-height: 42.85vw;
    position: relative;
    overflow: hidden;

    ion-slide {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

    #left {
      position: absolute;
      top: 20vw;
      left: 0;
      transform: translateY(-50%);
      font-size: 300%;
      transition: color 0.2s ease-out;
      color: white;
      z-index: 10;
      text-shadow: 0 0 6px grey;
    }
    #left:hover{
      transition: color 0.5s ease;
      color: color($colors, red);
    }


    #right {
      position: absolute;
      top: 20vw;
      right: 0;
      transform: translateY(-50%);
      font-size: 300%;
      transition: color 0.2s ease-out;
      color: white;
      z-index: 10;
      text-shadow: 0 0 6px grey;
    }
    #right:hover{
      transition: color 0.5s ease;
      color: color($colors, red);
    }

    img .background {
      width: 100%;
      height: auto;
      position: absolute;
      display: flex;
      z-index: 0;
    }
  }
}
