/*
SCSS for the big slider at top
*/
.swiper-pagination-bullet-active {
  background: red !important;
}
headliner {
  .slides{
    height:auto;
    #left {
      height: 100%;
      position: absolute;
      z-index: 2;
      left:0;
      width: 8%;
      vertical-align:middle;
      display: inline-block;
      img {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        filter: invert(100%);

      }
      img:hover{
        filter: invert(0%);
      }

    }
    #middle{
      height: 100%;
      position: absolute;
      z-index: 2;
      left: 8%;
      width: 84%;
    }
    #right {
      height: 100%;
      position: absolute;
      z-index: 2;
      float: right;
      left: 92%;
      width: 8%;
      img {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        filter: invert(100%);

      }
      img:hover{
        filter: invert(0%);
      }

    }
    img .background{
      width: 100%;
      height: auto;
      position:absolute;
      display: flex;
      z-index: 0;
    }
  }
}
