<ion-slides pager class="featured" >


  <ion-slide *ngFor="let vid_info of video_info_arr">

    <div id="left" (click)="slideLeft()">
      <img src="http://alexoliveira.me/Hawaii/images/chevron-left.png">
    </div>

    <div id="middle" (click)="goToVid(vid_info.id)"></div>
    <div id="right" (click)="slideRight()">
      <img src="http://alexoliveira.me/Hawaii/images/chevron-right.png">
    </div>
    <img src='{{vid_info.featureThumbUrl}}' class="background"/>

  </ion-slide>


</ion-slides>
