// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


// this applies a global margin to all ion-content
// elements to account for our global toolbars
ion-content .scroll-content{
//  margin-top: 56px;
  margin-bottom: 56px;
  margin-top: 56px !important;
//  padding-top: 44px;
}


//font declarations
@font-face {
  font-family: 'atcduel4';
  src: url('../assets/fonts/atcduel4.WOFF');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'atcduel6';
  src: url('../assets/fonts/atcduel6.WOFF');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'atcduel8';
  src: url('../assets/fonts/atcduel8.WOFF');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'atcduel10';
  src: url('../assets/fonts/atcduel10.WOFF');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'atcduel12';
  src: url('../assets/fonts/atcduel12.WOFF');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: DinPro;
  src: url('../assets/fonts/DINPRO-BLACK.OTF');
  font-weight: 900;
}
@font-face {
  font-family: DinPro;
  src: url('../assets/fonts/DINPRO-BOLD.OTF');
  font-weight: 700;
}
@font-face {
  font-family: DinPro;
  src: url('../assets/fonts/DINPRO-LIGHT.OTF');
  font-weight: 100;
}
@font-face {
  font-family: DinPro;
  src: url('../assets/fonts/DINPRO-MEDIUM.OTF');
  font-weight: 500;
}
@font-face {
  font-family: DinPro;
  src: url('../assets/fonts/DINPRO-REGULAR.OTF');
  font-weight: 300;
}
@font-face {
  font-family: 'PFDinTextCompPro';
  src: url('../assets/fonts/PFDINTEXTCOMPPRO-BOLD.WOFF');
  font-weight: 800;
}



//globally applied fonts
h1,
h2,
h4,
h5,
h6 {
  font-family: 'atcduel12';
}

button,
h3 {
  font-family: 'atcduel6';
}

body,
div,
p {
  font-family: 'atcduel4';
}
