// component css goes here

video-view {

  background-color: white;

  height: auto;

  ion-content {
    .player-wrapper {
      width: calc(100%);
      margin: 0;

      #video-player {
        width: 100%;
        position: relative;
      }
    }

    .body {
      padding: 0 3vw;
      text-align: left;
      border-bottom-color: color($colors, whitegrey);
      border-bottom-style: solid;
      border-bottom-width: 2px;
      .titles {

        text-align: left;
        width: 100%;

        .small-title {
          font-family: DinPro;
          font-size: 1.5vh;
          font-weight: 700;
          margin: 3vh 0 1vh 0.25vw;
          text-transform: uppercase;
          color: color($colors, red);
        }

        .large-title {
          font-family: 'atcduel6';
          font-size: 3.5vh;
          font-weight: 300;
          margin: 0 0 2vh;
        }
      }

      .info {
        .misc-list {

          border-right-color: color($colors, whitegrey);
          border-right-style: solid;
          border-right-width: 2px;
          margin: 2vh 0;
          text-align: left;
          width: 25%;
          display: inline-block;

          .item {
            color: color($colors, midgrey);
            margin: 2px 0;
            .iconthing {
              text-align: left;
              display: inline-block;
              width: 7vw;
              text-align: center;
              font-size: 2vw;

              .pd-icon {
                display: inline;
                width: 1.5vw;
                height: auto;
                margin: 90px 0;
              }


              #trainer-pic {
                color:black;
                display: inline-block;
                width: 4vw;
                margin: 0 0;
              }

            }
            #trainer-name{
              color:black;
              font-size: 1.7vh;
              text-transform: capitalize;
            }
            .text {
              display: inline-block;
              font-family: DinPro;
              font-size: 1.4vh;

              text-align: left;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }

        .partags-wrapper {
          display: inline-block;
          padding: 2vh 2vw;
          .paragraph {
            font-family: DinPro;
            font-weight: 300;
            text-align: left;
            margin: 2vh 0;
            font-size: 1.5vh;
            line-height: 1.3;
            display: block;

          }

          .tags {
            text-align: left;
            font-family: DinPro;
            font-weight: 700;
            font-size: 1.4vh;
            text-transform: uppercase;
            display: block;
            color: color($colors, midgrey);

            ion-badge {
              font-family: DinPro;
              font-weight: 100;
              font-size: 1.5vh;
              padding: 0.8vh 1.2vw;
              margin: 0 0.5vw 1vh 0;
              background-color: color($colors, midgrey);
              border-radius: 90px;
              text-transform: capitalize;
            }
          }
        }
      }
    }
  }
}
