// component css goes here

video-view {
  text-align: center;
  align-content: center;
  background-color: white;

  #video-player {
    margin-top: 8vh;
    width: 100%;
    position: relative;
  }

  .video-view-nav {
    background-color: white;
  }
}
