page-contact-us {
  .text-input {
  font-family: DinPro !important;
  }

  ion-textarea {
    height: 85vh;
  }


ion-label {
  font-weight: lighter;
  font-family: DinPro !important;
}

.emailBody .item-textarea {
   font-family: DinPro !important;
}


.button-inner {
  text-transform: none;
  font-family: DinPro !important;
}


.sendButton {
  padding-right: 1vw;
  margin-left: 40vw;
  position: absolute;
  right: 1.6vh;
}

.cancelButton {
  padding-left: 1.6vw;
}

}
