video-set{
  .wrapper{
  padding: 2%;
  border-bottom-style: solid;
  border-bottom-color: lightgrey;
  border-bottom-width: 1px;
  position: relative;

  .section-head {
    margin-top: -8px;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-family: 'atcduel6' !important;
    font-size: 2.2vw;
    color: color($colors, red);
  }
  .description{

    font-family: Dinpro !important;
    font-weight: 400;
    color:#555555;
    font-size: 1.2em;
    max-height: 10vw;
    overflow: hidden;


  }
  button {

    margin: 1vw 0 0 0;
    background-color: color($colors, dark);
  .button-inner{

    font-family: 'PFDinTextCompPro';
    font-weight: 800;
  }
}
  .trainer-prof {
    position: relative;
    .pic {
      width: 2vw;
      display: inline-block;
    }
    .name {
      margin: 0 5% 0 5%;
      text-transform: uppercase;
      font-family: 'atcduel4';
      font-size: 1.3em;
      display: inline-block;
      position: absolute;
      top: 46%;
      transform: translateY(-50%);
      color: #333333;

    }
  }
}
}
