<ion-footer>
  <ion-toolbar>
    <ion-title>

      <audio src='assets/test.mp3'></audio>
      <div class="pandoraLogoHolder">
        <img class="pandoraLogo" src="assets/Pandora_Logo.png"/>
      </div>
      <div class="pandoraStationHolder">

      </div>
      <div class="controls">
        <div class= "controlButtonHolder">
            <i class="material-icons thumb">thumb_down</i>
        </div>
        <div class= "controlButtonHolder">
          <i class="material-icons replay">replay</i>
        </div>
        <div class= "controlButtonHolder">
          <i class="material-icons pause">pause</i>
        </div>
        <div class= "controlButtonHolder">
          <i class="material-icons skip">skip_next</i>
        </div>
        <div class= "controlButtonHolder">
          <i class="material-icons thumb">thumb_up</i>
        </div>
        </div>
      <div class="albumInfoHolder">

      </div>

      <div class="timeHolder">

      </div>
      <div class="volumeHolder">

      </div>

    </ion-title>
  </ion-toolbar>
</ion-footer>
