$station_button_padding: .9vh;
$station_popup_margin: 2vh 1vw;

  .pandoraLogoHolder {
    display: inline-block;
    width: 8%;
    padding-left: 1vw;
    .pandoraLogo {
      vertical-align: middle;
      width: 90%;
      height: auto;
    }
  }

.pandoraStationHolder:hover {
  color: red;
}

  .pandoraStationHolder {
      display: inline-block;
      width: 30%;
      .pandoraStation {
        text-align: center;
        font-size: 70%;
        font-family: DinPro !important;
      }
      .pandoraStation:hover {
        cursor: pointer;
      }
  }

  .controls {
      display: inline-block;
      width: 25%;
      .controlButtonHolder {
        display: inline-block;
        margin-left: 3.1vh;
      }
      .thumb {
        font-size: 70%;
        vertical-align: middle;
        margin: auto;
      }
      .pause {
        vertical-align: middle;
        margin: auto;
        font-size: 130%;
      }
      .skip {
        vertical-align: middle;
        margin: auto;
        font-size: 110%;
      }
      .replay {
        font-size: 80%;
        vertical-align: middle;
        margin: auto;
      }

.material-icons:hover {
  color: red;
}
  }


  .albumInfoHolder {
      display: inline-block;
      width: 25%;
      vertical-align: middle;
      .albumCover {
        display: inline-block;
        width: 9%;
        height: auto;
        vertical-align: middle;
      }
      .songInfo {
        display: inline-block;
        font-size: 55%;
        vertical-align: middle;
      }
      .band {
        font-family: DinPro !important;
      }
      .song {
          font-family: DinPro !important;
          color: red;
      }

  }

  .timeHolder {
      display: inline-block;
      width: 5%;
  }

  .volumeHolder {
      display: inline-block;
      vertical-align: middle;
      width: 5%;
      .volume {
        font-size: 90%;
      }
      .volume:hover {
        color: red;
      }


  }

  .active{
      transition: all 0.3s ease-out;
    }

  .station-menu {
    font-family: DinPro !important;
    position: absolute;
    line-height: 24px;
    right: 67%;
    bottom: 60px;
    max-width: 18%;
    background-color: white;
    overflow-y: hidden;
    transition: height 0.3s ease-out;
    height: 0;
    padding: 0;

.create-station-button:hover {

}

.create-station-button {
  border-style: solid;
  border-color: gray;
  border-width: thin;
  border-radius: 3px;
  margin: $station_popup_margin;
  padding: $station_button_padding;
}

    .add-box {
      color: red;
      display: inline-block;
      vertical-align: middle;
    }
    .create-station {
      font-family: DinPro !important;
      display: inline-block;
      vertical-align: middle;
      color: gray;
      font-size: 1em;
      font-weight: bold;
    }

.divider {
  border-style: solid;
  border-top: thin;
  border-width: thin;
  border-color: gray;
  margin: $station_popup_margin;
}

.see-all-stations:hover {

}
    .see-all-stations {
      font-family: DinPro !important;
      font-weight: bold;
      border-style: solid;
      border-color: red;
      border-radius: 3px;
      border-width: thin;
      color: red;
      text-align: center;
      font-size: 1em;
      margin: $station_popup_margin;
      margin-top: 0;
      padding: $station_button_padding;
    }

    .stations:hover {

    }
    .stations {
      margin: 1vh 1vw;
      .albumCover {
        display: inline-block;
        vertical-align: middle;
        width: 11%;
        height: auto;
      }
      .station-name {
        font-family: DinPro !important;
        display: inline-block;
        font-size: .9em;
      }
    }
   }


  .station-popup-active{
    transition: height 0.3s ease-out;
    height: 180px;
  }
