
  .pandoraLogoHolder {
    display: inline-block;
    width: 8%;
    padding-left: 1vw;
    .pandoraLogo {
      vertical-align: middle;
      width: 90%;
      height: auto;
    }
  }

  .pandoraStationHolder {
      display: inline-block;
      width: 30%;
      .pandoraStation {
        text-align: center;
        font-size: 70%;
        font-family: DinPro !important;
      }
  }

  .controls {
      display: inline-block;
      width: 25%;
      .controlButtonHolder {
        display: inline-block;
        margin-left: 3.1vh;
      }
      .thumb {
        font-size: 70%;
        vertical-align: middle;
        margin: auto;
      }
      .pause {
        vertical-align: middle;
        margin: auto;
        font-size: 130%;
      }
      .skip {
        vertical-align: middle;
        margin: auto;
        font-size: 110%;
      }
      .replay {
        font-size: 80%;
        vertical-align: middle;
        margin: auto;
      }

.material-icons:hover {
  color: red;
}
  }

  .albumInfoHolder {
      display: inline-block;
      width: 25%;
      vertical-align: middle;
      .albumCover {
        display: inline-block;
        width: 9%;
        height: auto;
        vertical-align: middle;
      }
      .songInfo {
        display: inline-block;
        font-size: 55%;
        vertical-align: middle;
      }
      .band {
        font-family: DinPro !important;
      }
      .song {
          font-family: DinPro !important;
          color: red;
      }

  }

  .timeHolder {
      display: inline-block;
      width: 5%;
  }

  .volumeHolder {
      display: inline-block;
      vertical-align: middle;
      width: 5%;
      .volume {
        font-size: 90%;
      }
      .volume:hover {
        color: red;
      }
  }
