<ion-footer>
  <div class='station-menu' id='station-menu'>
    <!--  <div class="stations" *ngFor="let s of topFiveStations; let index = index" (click)="changeStation(index)" [ngClass]="{'now-playing':index == 0}">
    </div> -->
    <div (click)="changeStation(idx)" class="stations" *ngFor="let station of pandoraService.userStations; let idx = index;">
      <div class="albumCover">
        <img class="albumImg" src='{{station.artUrl}}' />
      </div>
      <div class="station-name">
        {{station.stationName}}
      </div>
    </div>
    <div (click)="seeAllStations()" class="see-all-stations">
      See All Stations
    </div>
    <div class="divider"> </div>
    <div (click)="createStation()" class=create-station-button>
      <i class="material-icons add-circle">add_circle</i>
      <div class=create-station> Create Station </div>
    </div>
  </div>

  <div class='volume-bar' id='vol-bar'>
  <!--  <div class='vol-track'>
      <div class='vol-thumb'>

      </div>
    </div> -->
    <input (change)="updateVol()" type="range" id="volume-slider" min="0" max="1" step="0.1" value="1">

  </div>
  <ion-toolbar>
    <ion-title>

      <audio id="audioDisplay"></audio>
      <div class="pandoraLogoHolder">
        <img class="pandoraLogo" src="assets/Pandora_Logo.png" />
      </div>
      <div class="pandoraStationHolder">
        <div (click)="onStationPopup()" id="station-button" class="pandoraStation"> <span *ngIf="pandoraService.currentStation">{{pandoraService.currentStation.stationName}}</span>
        </div>
      </div>
      <div class="controls">
        <div class="controlButtonHolder">
          <i class="material-icons thumb">thumb_down</i>
        </div>
        <div class="controlButtonHolder">
          <i class="material-icons replay">replay</i>
        </div>
        <div class="controlButtonHolder">
          <i id="playButton" (click)="togglePlayPause()" class="material-icons pause">play_arrow</i>
        </div>
        <div (click)="nextSong()" class="controlButtonHolder">
          <i class="material-icons skip">skip_next</i>
        </div>
        <div class="controlButtonHolder">
          <i class="material-icons thumb">thumb_up</i>
        </div>
      </div>
      <div class="albumInfoHolder">
        <div class="albumCover">
          <img id="nowPlayingImg" class="albumImg" src='' />
        </div>
        <div class="songInfo">
          <div class="band">
            <span id="artistName"></span>
          </div>
          <div class="song">
            <span id="songName"></span>
          </div>
        </div>
      </div>
      <div class="timeHolder"> {{this.currentTime | timeDisplay }} | {{this.totalTime | timeDisplay}}
      </div>

      <div class="volumeHolder" (click)='toggleVolumeBar()'>
        <i class="material-icons volume">volume_up</i>
      </div>

    </ion-title>
  </ion-toolbar>
</ion-footer>
